body {
	font-family: sans-serif;
	background: #F2F4F0;
	
	cursor: default;
	
	overflow-y: scroll;
}

a {
	cursor: pointer;
}


.overlay {
	background: #F2F4F0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.overlay div {
	width: 500px;
	margin: 122px auto;
	padding: 10px;
	
	background: #BEC8B7;
	border: 2px solid #57654D;
}

.overlay h1 {
	opacity: 1;
	font-size: xx-large;
	color: #3E4837;
	font-weight: bold;
}

.overlay p {
	margin-top: 10px;
}


#head {
	background: #BEC8B7;
	height: 40px;
	border-bottom: 2px solid #3E4837;
	color: #3E4837;
}

#head h1 {
	font-size: 30px;
	padding: 5px 10px;
	float: left;
}

#head ul {
	float: right;
	padding: 11px;
}

#head li {
	display: inline;
	font-size: 14px;
	padding: 11px;
}

#head a {
	color: inherit;
	text-decoration: none;
}

#head a.active {
	text-decoration: underline;
}

#body {
}


.box, form {
	background: #BEC8B7;
	width: 500px;
	margin: 80px auto;
	padding: 10px;
	
	border: 2px solid #57654D;
}

.box h1, form h1 {
	opacity: 1;
	font-size: xx-large;
	color: #3E4837;
	font-weight: bold;
	margin-bottom: 10px;
}

.box p {
	margin-bottom: 10px;
}



form p {
	padding-bottom: 10px;
	clear: both;
}

hr {
    border: none;
    border-top: 1px solid #3E4837;
    padding-bottom: 10px;
    clear: both;
    display: block;
}

form label {
	color: #3E4837;
	display: block;

}

form label span {
	font-size: small;
	padding-left: 10px;
	color: #6F8163;
}

form input, form select {
    border: 1px solid #3E4837;
	padding: 4px 8px;
	box-sizing: border-box;
	background: #F2F4F0;
	width: 100%;
}

form input[type=submit] {
	display: block;
	padding: 7px 14px;
	background: #8B9D7A;
	border: 1px solid #3E4837;
	width: 100%;
	font-size: 110%;
	cursor: pointer;
}


form span.row {
	display: block;
	clear: both;
    width: 100%;
    padding-bottom: 3px;
}


form span.row input {
    float: left; /* to hide spaces between tags */
    outline: 1px solid #3E4837;
    border: none;
}

form span.row:after { /* clearfix */
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}




